import * as React from 'react'
import TuneRoundedIcon from '@mui/icons-material/TuneRounded'
import { IconButton, Tooltip } from '@mui/material'

import type { FaceToolbarProps } from '../protocol'

{{TOOLBAR_BLOCKS}}
